backports.ssl-match-hostname==3.4.0.2
# These work with python 2.7.8/2.7.9.
cython==0.22
https://s3.amazonaws.com/assets.getpebble.com/sdk/gevent-102-with-ssl279.tar.gz#egg=gevent
gevent-websocket==0.9.3
greenlet==0.4.5
peewee==2.4.7
pygeoip==0.3.2
pypng==0.0.17
python-dateutil==2.4.1
requests==2.5.0
sh==1.09
six==1.8.0
websocket-client==0.22.0
wsgiref==0.1.2
